* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  min-height: 100%;
  width: 100%;
  padding: 0 4vw;
  background-color: #083a37;
}

#nav {
  display: flex;
  align-items: center;
  color: white;
  padding-top: 35px;
  min-width: 100%;
}

.brand_name_container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

#nav .brand_name {
  font-weight: 700;
  font-size: 30px;
}

#nav i {
  color: rgb(248, 135, 7);
}

.links_container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.nav_options {
  margin: 0 10px;
  font-size: 15px;
  font-weight: 400;
  width: max-content;
}

#nav svg {
  fill: rgb(248, 135, 7);
}

#sidebar_active {
  display: none;
}

.open_sidebar_button,
.close_sidebar_button {
  display: none;
}

#nav button {
  width: 120px;
  height: 40px;
  margin: 0 10px;
  border-radius: 40px;
  background-color: rgba(red, green, blue, 10%);
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  margin: auto;
}

#left_center {
  margin: auto 40px;
  color: white;
  width: 50%;
}

#left_center h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 60px;
}

#left_center h5 {
  font-size: 15px;
  line-height: 30px;
}

#left_center .start {
  padding-top: 15px;
}

.button_icon {
  padding-top: 20px;
}

#left_center .left_button {
  margin-top: 0px;
  width: 150px;
  height: 40px;
  align-self: center;
  border-radius: 40px;
}

#left_center #arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  color: yellow;
  margin: 10px;
  border-radius: 50%;
  border: 3px solid yellow;
  font-size: 35px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

#right_center {
  display: flex;
  justify-content: center;
}

#right_center img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin: auto 40px;
}

#left_bottom {
  display: flex;
  justify-items: center;
  color: white;
}

.bottom_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
}

#left_bottom h1 {
  font-size: 30px;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media (max-width: 900px) {
  .brand_name_container {
    justify-content: center;
  }

  .brand_name span {
    display: none;
  }

  .container {
    flex-direction: column;
  }

  #left_center {
    display: flex;
    padding: 20px 0 30px 0;
    width: fit-content;
  }

  #left_center h2 {
    font-size: 30px;
    line-height: 35px;
  }

  .left_center_items {
    display: flex;
    flex-direction: column;
  }

  #left_bottom {
    display: flex;
    flex-direction: row !important;
    padding: 20px 30px;
  }
}

@media (max-width: 700px) {
  #nav {
    padding: 10px 0;
  }

  .brand_name {
    display: flex;
    font-size: 20px !important;
  }

  .brand_name span {
    margin-left: 5px;
    display: flex;
  }

  .links_container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    padding: 10px 0 20px 0;
    z-index: 10;
    width: 250px;
    background-color: black;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }

  #nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }

  .open_sidebar_button,
  .close_sidebar_button {
    padding: 20px;
    display: block;
  }

  .close_sidebar_button {
    margin: 0 15px;
  }

  #sidebar_active:checked~.links_container {
    right: 0;
  }

  #sidebar_active:checked~#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    backdrop-filter: blur(5px);
    transition: 0.75s ease-out;
  }

  #nav .brand_name {
    font-weight: 500;
    font-size: 30px;
  }

  #nav .login_option {
    display: none;
  }

  #nav button {
    display: none;
  }

  #nav .logo {
    display: none;
  }

  #nav .menu {
    display: initial;
    font-size: 30px;
    font-weight: 700;
    padding-left: 80px;
  }

  #left_center {
    padding: 15px 30px 0px 30px;
  }

  #left_center h5 {
    font-size: 18px;
    line-height: 25px;
  }

  #left_center .start {
    padding-top: 10px;
  }

  .button_icon {
    padding-top: 15px;
  }

  #left_center {
    display: flex;
    flex-direction: column;
  }

  #right_center img {
    width: 100%;
    height: 400px;
    padding: 0px 30px;
  }

  #left_bottom {
    grid-column: 1 / 3;
    justify-items: start;
    padding-top: 15px;
    padding-left: 30px;
    line-height: 20px;
  }

  #left_bottom h1 {
    font-size: 30px;
    margin: 10px;
    font-weight: 500;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  #left_bottom p {
    font-size: 15px;
    margin: 10px;
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  #left_center {
    margin: 0;
    padding: 10px;
    width: 100%;
  }

  #left_bottom {
    padding: 0px;
  }

  .bottom_items h1 {
    font-size: 22px !important;
    line-height: normal;
    margin: 10px 10px 0 10px !important;
  }
}

@media screen and (max-width: 400px) {
  .bottom_items {
    margin: 0;
  }

  #right_center img {
    width: 100%;
    height: auto;
  }
}