* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #083a37;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 60% 20%;
}
#nav {
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 30% 8% 8% 8% 6% 18% 5% 18%;
  justify-items: center;
  color: white;
  grid-column-gap: 5px;
  padding-top: 35px;
}
#nav i {
  color: rgb(248, 135, 7);
}
#nav .brand_name {
  font-weight: 700;
  font-size: 30px;
}
#nav .nav_options {
  padding-top: 13px;
  font-size: 15px;
  font-weight: 400;
}
#nav .shop {
  justify-self: start;
  padding-left: 12px;
}
#nav .book_club {
  justify-self: start;
}
#nav .login_option {
  padding-top: 8px;
}
#nav button {
  width: 120px;
  height: 40px;
  /* color: black; */
  border-radius: 40px;
  justify-self: start;
  background-color: rgba(red, green, blue, 10%);
  /* opacity: 0.3; */
}
#nav .logo {
  display: none;
}
#nav .menu {
  display: none;
}

#left_center {
  /* background-color: bisque; */
  padding: 40px;
  padding-left: 80px;
  color: white;
}
#left_center h2 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 60px;
}
#left_center h5 {
  font-size: 15px;
  line-height: 30px;
}
#left_center .start {
  padding-top: 15px;
}
.button_icon {
  padding-top: 20px;
}
#left_center .left_button {
  margin-top: 0px;
  width: 150px;
  height: 40px;
  align-self: center;
  /* color: black; */
  border-radius: 40px;
}
#left_center #arrow {
  /* position: absolute;
  top: 64.5%;
  left: 18%; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: yellow;
  margin: 10px;
  border-radius: 50%;
  border: 3px solid yellow;
  font-size: 35px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  /* transform: translate(-50%,-50%); */
}

#right_center {
  /* background-color: rgb(20, 182, 87); */
  grid-column: 2;
  grid-row: 2 / 4;
  align-self: center;
}
#right_center img {
  width: 100%;
  height: auto;
  padding: 10px 180px 35px 40px;
  border-radius: 50px;
}

#left_bottom {
  /* background-color: rgb(186, 238, 127); */
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 35% 35% 35%;
  justify-items: center;
  color: white;
  /* padding-top: 20px; */
}
#left_bottom h1 {
  font-size: 30px;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media (max-width: 400px) {
  #main {
    /* height: 100%; */
    /* width: 100%; */
    /* background-color: #083a37; */
    /* display: grid; */
    /* grid-template-columns: 50% 50%; */
    grid-template-rows: 8% 47% 32% 13% !important;
  }
  #nav {
    background-color: rgb(22, 24, 24);
    /* grid-column: 1 / 3; */
    /* grid-row: 1; */
    /* display: grid; */
    grid-template-columns: 60% 40% !important;
    /* justify-items: start;
    color: white;
    grid-column-gap: none;
    padding-left: 30px; */
    padding-top: 20px !important;
  }
  #nav .brand_name {
    font-weight: 500;
    font-size: 20px !important;
  }
  #nav .nav_options {
    display: none;
  }
  #nav .login_option {
    display: none;
  }
  #nav button {
    display: none;
  }
  #nav .logo {
    display: none;
  }
  #nav .menu {
    /* background-color: rgb(179, 41, 41); */
    /* display: initial; */
    /* font-size: 30px !important; */
    /* font-weight: 700;
    padding-left: 0px; */
    align-self: end !important;
    margin-right: 30px !important;
  }

  #left_center {
    /* background-color: rgb(77, 67, 56); */
    padding: 10px 10px 0px 30px !important;
    /* padding: none !important; */
    grid-column: 1 / 3;
    grid-row: 3;
  }
  #left_center h2 {
    font-size: 45px !important;
    line-height: 45px !important;
  }
  #left_center h5 {
    font-size: 12px !important;
    line-height: 20px !important;
  }
  /* #left_center .start {
    padding-top: 10px;
  }
  .button_icon{
    padding-top: 5px;
  } */

  #right_center {
    /* background-color: rgb(20, 182, 87); */
    grid-column: 1 / 3;
    grid-row: 2;
  }
  #right_center img {
    width: auto !important;
    height: 330px !important;
    padding-left: 30px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    /* border-radius: 50px; */
  }

  #left_bottom {
    /* background-color: rgb(186, 238, 127); */
    grid-column: 1 / 3;
    justify-items: start;
    padding-top: 10px;
    padding-left: 30px;
    line-height: 20px;
  }
  #left_bottom h1 {
    font-size: 25px !important;
    font-weight: 400;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  #left_bottom h5 {
    font-size: 12px !important;
  }
}

@media (max-width: 600px) {
  #main {
    /* height: 100%; */
    /* width: 100%; */
    /* background-color: #083a37; */
    /* display: grid; */
    grid-template-columns: 50% 50%;
    grid-template-rows: 8% 47% 32% 13%;
  }
  #nav {
    /* background-color: rgb(22, 24, 24); */
    grid-column: 1 / 3;
    /* grid-row: 1; */
    display: grid;
    grid-template-columns: 70% 30%;
    justify-items: start;
    color: white;
    grid-column-gap: none;
    padding-top: 25px;
    padding-left: 30px;
  }
  #nav .brand_name {
    font-weight: 500;
    font-size: 30px;
  }
  #nav .nav_options {
    display: none;
  }
  #nav .login_option {
    display: none;
  }
  #nav button {
    display: none;
  }
  #nav .logo {
    display: none;
  }
  #nav .menu {
    display: initial;
    font-size: 30px;
    font-weight: 700;
    padding-left: 80px;
  }

  #left_center {
    /* background-color: rgb(77, 67, 56); */
    padding: 15px 30px 0px 30px;
    grid-column: 1 / 3;
    grid-row: 3;
  }
  #left_center h2 {
    font-size: 60px;
    line-height: 70px;
  }
  #left_center h5 {
    font-size: 18px;
    line-height: 25px;
  }
  #left_center .start {
    padding-top: 10px;
  }
  .button_icon {
    padding-top: 15px;
  }

  #right_center {
    /* background-color: rgb(20, 182, 87); */
    grid-column: 1 / 3;
    grid-row: 2;
  }
  #right_center img {
    width: 100%;
    height: 400px;
    padding: 0px 30px;
    /* border-radius: 50px; */
  }

  #left_bottom {
    /* background-color: rgb(186, 238, 127); */
    grid-column: 1 / 3;
    justify-items: start;
    padding-top: 15px;
    padding-left: 30px;
    line-height: 20px;
  }
  #left_bottom h1 {
    font-size: 30px;
    font-weight: 500;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}


