@font-face {
  font-family: "TitilliumWeb-Black";
  src: url(./assets/fonts/TitilliumWeb-Black.ttf);
}
@font-face {
  font-family: "TitilliumWeb-Bold";
  src: url(./assets/fonts/TitilliumWeb-Bold.ttf);
}
@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url(./assets/fonts/TitilliumWeb-Regular.ttf);
}
@font-face {
  font-family: "AlfaSlabOne";
  src: url(./assets/fonts/AlfaSlabOne.ttf);
}
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: black;
}

#home {
  height: 90.3vh;
}
.logo {
  width: 8vw !important;
}
.content {
  width: 95vw !important;
}
.nav_options:hover {
  color: #7ed957;
}
.nav_options:active,
.nav_options:focus {
  color: #7ed957;
}
#tagline-container {
  height: 88vh;
  width: 95vw;
  line-height: 90px;
  display: flex;
  align-items: center;
  display: block;
  padding-top: 90px;
  /* justify-content: center; */
}
.tagline {
  padding-left: 10vw;
  color: rgb(192, 189, 189);
  font-size: 70px;
  font-family: "TitilliumWeb-Black";
}
#sub-tagline {
  color: white;
  font-size: 80px;
}
#end-line {
  font-size: 150px;
  color: #7ed957;
}
.buttons {
  display: flex;
  align-items: center;
  margin-left: 10vw;
}
.contact-btn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 30px !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  background-color: #7ed957 !important;
  font-family: var(--mdb-font-roboto) !important;
  padding: 20px !important;
  color: white !important;
  border: none !important;
  min-width: max-content;
  border-radius: 3px;
}
.resume-btn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 30px !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  background-color: #7ed957 !important;
  font-family: var(--mdb-font-roboto) !important;
  margin: 30px !important;
  padding: 20px !important;
  color: white !important;
  border: none !important;
  min-width: max-content;
  border-radius: 3px;
}

#background-text {
  position: absolute;
  margin-top: -220px;
  z-index: -1;
  font-size: 17vw;
  padding-top: 5vh;
  margin-left: -3vw;
  text-shadow: -1px -1px 0 rgb(82, 81, 81), 1px -1px 0 rgb(82, 81, 81),
    -1px 1px 0 rgb(82, 81, 81), 1px 1px 0 rgb(82, 81, 81);
  font-family: "TitilliumWeb-Black";
  letter-spacing: 50px;
  color: rgba(0, 0, 0, 1);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
#about {
  height: auto;
  width: 100vw;
}
.heading-container {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  display: flex;
  justify-content: center;
  font-size: 80px;
  font-family: "TitilliumWeb-Bold";
  color: #7ed957;
}
.heading-background {
  position: absolute;
  z-index: -1;
  font-size: 100px;
  font-family: "TitilliumWeb-Black";
  letter-spacing: 5px;
  /* color: rgba(255, 255, 255, 0.1); */
  color: rgba(255, 255, 255, 0.123);
}
.image {
  width: 20vw;
  height: auto;
}
.box {
  position: absolute;
  height: 27vw;
  width: 20vw;
  border-color: #7ed957;
  z-index: -1;
}
.name {
  color: #7ed957;
}
.link {
  -webkit-animation: roll_icon 1s;
  animation: roll_icon 1s;
}
.link:hover {
  color: #7ed957;
  cursor: pointer;
  -webkit-animation: roll 1s;
  animation: roll 1s;
}
@-webkit-keyframes roll {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.box-border:hover {
  border-color: #7ed957;
  cursor: pointer;
}
.skills_text {
    /* color: white; */
  color: #7ed957;
  font-family: "lliumWeb-Regular";
}
.skill_options {
  /* color: #7ed957; */
  display: inline-block;
}
/* .skill_options svg{
    fill: #7ed957;
} */

#contact{
  background-color: #7ed957;
}
.contact_heading{
  font-family: "lliumWeb-Regular";
}
.contact_message{
  display: flex;
  flex-direction: column;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
.contact_message button{
  align-self: center;
}
.contact_message textarea{
  background-color: #62994b41;
  min-width: 400px;
  max-width: 400px;
  min-height: 140px;
  max-height: 140px;
}
.contact_inputs:focus{
  background-color: #62994b41;
}