@font-face {
  font-family: "TitilliumWeb-Black";
  src: url(./assets/fonts/TitilliumWeb-Black.ttf);
}
@font-face {
  font-family: "TitilliumWeb-Bold";
  src: url(./assets/fonts/TitilliumWeb-Bold.ttf);
}
@font-face {
  font-family: "TitilliumWeb-Regular";
  src: url(./assets/fonts/TitilliumWeb-Regular.ttf);
}
@font-face {
  font-family: "AlfaSlabOne";
  src: url(./assets/fonts/AlfaSlabOne.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100%;
}
body {
  overflow-x: hidden;
  background-color: black;
}

.logo {
  width: 8vw !important;
}
.section_view{
  scroll-margin-top: 66px;
}

.home_view{
  scroll-margin-top: 80px;
}

.nav_options:hover{
  color: #e1684d !important;
}

.nav_options:active,
.nav_options:focus {
  color: #e1684d !important;
}
#tagline-container {
  height: 88vh;
  width: 100vw;
  line-height: 90px;
  display: flex;
  align-items: center;
  display: block;
  padding-top: 90px;
}
.tagline {
  padding-left: 10vw;
  color: rgb(192, 189, 189);
  font-size: 70px;
  font-family: "TitilliumWeb-Black";
}
#sub-tagline {
  color: white;
  font-size: 80px;
}
#end-line {
  font-size: 150px;
  color: #d35337;
}
.buttons {
  display: flex;
  align-items: center;
  margin-left: 10vw;
}
.contact-btn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 30px !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  background-color: #e1684d !important;
  font-family: var(--mdb-font-roboto) !important;
  padding: 20px !important;
  color: black !important;
  border: 2px solid #e1684d !important;
  min-width: max-content;
  border-radius: 3px;
}
.contact-btn:hover {
  background-color: rgb(27, 27, 27) !important;
  color: white !important;
  border: 2px solid #e1684d !important;
}
.resume-btn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 30px !important;
  font-size: 20px !important;
  font-weight: 700 !important;
  background-color: #e1684d !important;
  font-family: var(--mdb-font-roboto) !important;
  margin: 30px !important;
  padding: 20px !important;
  color: black !important;
  border: 2px solid #e1684d !important;
  min-width: max-content;
  border-radius: 3px;
}
.resume-btn:hover {
  background-color: rgb(27, 27, 27) !important;
  color: white !important;
  border: 2px solid #e1684d !important;
}

#background-text {
  position: absolute;
  margin-top: -217px;
  z-index: -1;
  font-size: 17vw;
  padding-top: 5vh;
  margin-left: -3vw;
  text-shadow: -1px -1px 0 rgb(82, 81, 81), 1px -1px 0 rgb(82, 81, 81),
    -1px 1px 0 rgb(82, 81, 81), 1px 1px 0 rgb(82, 81, 81);
  font-family: "TitilliumWeb-Black";
  letter-spacing: 50px;
  color: rgba(0, 0, 0, 1);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-18deg);
}
#about {
  height: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.082);
}
.heading-container {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  display: flex;
  justify-content: center;
  font-size: 80px;
  font-family: "TitilliumWeb-Bold";
  color: #e1684d;
}
.heading-background {
  position: absolute;
  z-index: -1;
  font-size: 100px;
  font-family: "TitilliumWeb-Black";
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 0.123);
}
.image {
  width: 20vw;
  height: auto;
}
.box {
  position: absolute;
  height: 27vw;
  width: 20vw;
  border-color: #e1684d;
  z-index: -1;
}
.name {
  color: #e1684d;
}
.link {
  -webkit-animation: roll_icon 1s;
  animation: roll_icon 1s;
}
.link:hover {
  color: #e1684d;
  cursor: pointer;
  -webkit-animation: roll 1s;
  animation: roll 1s;
}
@-webkit-keyframes roll {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.box-border:hover {
  border-color: #e1684d;
  cursor: pointer;
}
.skills_text {
  color: #e1684d;
  font-family: "lliumWeb-Regular";
}
.skills_container a {
  display: inline-block;
}
.skill_options > svg *,
.skill_options {
  fill: rgba(255, 255, 255, 0.295);
  margin: 3px;
}
.skill_options:hover > svg *,
.skill_options:hover {
  fill: #e1684d;
}
#projects {
  background-color: rgba(255, 255, 255, 0.082);
}
.project_image_section{
  padding-right: 500px;
}
.project_link_section{
  left: 53%;
  z-index: 2;
}
.project_images{
  opacity: 0.5;
}
.project_images:hover{
  opacity: 1;
}
.project_text{
  background-color: #585858;
  color: white;
  width: 500px;
  height: auto;
  margin-left: 25px;
}

.project_title{
  color: white;
  text-align: right;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 15px;
}
.project_title a:hover{
  color: #e1684d;
}
.project_tech_list{
  color: #e1684d;
  gap: 27px;
  justify-content: end;
  padding-top: 10px;
  font-size: 13px;
}
.project_links{
  display: flex;
  justify-content: end;
  padding-top: 5px;
  gap: 15px;
}
.contact_heading {
  font-family: "lliumWeb-Regular";
}
.ContactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  padding: 10px 25px 24px;
  border-radius: 4px;
  position: relative;
  top: 40px;
  z-index: 1;
  margin-bottom: 80px;
}
.ContactForm label {
  width: 100%;
  color: #ffffffb6;
  margin-bottom: 4px;
  margin-top: 10px;
  font-family: Overpass Mono, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
.ContactForm input {
  height: 35px;
  width: 370px;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-left: 0;
  transition: 0.3s;
  border-radius: 2px 2px 0 0;
}

.ContactForm input:focus{
  height: 35px;
  width: 370px;
  background: #36363693;
  border: none;
  font-size: 15px;
  color: #fff;
  transition: 0.3s;
  box-shadow: 0 5px 30px -25px #000;
}
input, textarea {
  border-radius: 0;
  outline: 0;
}
input, textarea, button, select, a {
  -webkit-tap-highlight-color: transparent;
}
.ContactForm .message {
  margin-top: 15px;
  margin-bottom: 5px;
}
.ContactForm h4 {
  width: 100%;
  background: #36363693;
  padding: 5px 10px;
  color: #ffffffd2;
  border-radius: 3px 3px 0 0;
  margin: 0 0 10px 0;
  font-weight: 600;
  cursor: default;
}

.ContactForm textarea {
  height: 80px;
  min-height: 100px;
  height: fit-content;
  width: 370px;
  resize: none;
  border-radius: 3px;
  border: none;
  margin-bottom: 15px;
  padding-left: 10px;
  background: transparent;
  color: #fff;
  border-bottom: 1px solid #fff;
  box-shadow: 0 5px 30px -25px #000;
}
.ContactForm textarea:focus,.ContactForm textarea:active{
  height: 80px;
  padding-top: 8px;
  font-size: 15px;
  resize: none;
  height: fit-content;
  min-height: 100px;
  border-radius: 0 0 3px 3px;
  transition: .3s;
  background: #36363693;
}
textarea {
  border-radius: 0;
  outline: 0;
}
input, textarea, button, select, a {
  -webkit-tap-highlight-color: transparent;
}
.ContactForm button:disabled {
  opacity: .3;
  pointer-events: none;
}
.ContactForm button {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 40px;
  width: 60%;
  background: #0000;
  margin-top: 10px;
  transition: all .2s ease-out;
}
button {
  cursor: pointer;
  border: 0;
  border-radius: 0;
}
footer {
  background-color: rgba(255, 255, 255, 0.082);
  font-family: "lliumWeb-Regular";
  color: white;
}

@media (max-width: 1190px){
  .project_link_section{
    left: 51%;
  }
}
@media (max-width: 1140px){
  #background-text{
    font-size: 16vw;
  }
  .project_link_section{
    left: 49%;
  }
}
@media (max-width: 1120px){
  .project_link_section{
    left: 48%;
  }
}
@media (max-width: 1065px){
  .project_link_section{
    left: 45%;
  }
}
@media (max-width: 1040px){
  .project_link_section{
    left: 44%;
  }
  #tagline-container{
    height:100vh !important;
  }
}
@media (max-width: 1020px){
  .project_link_section{
    left: 42%;
  }
}
@media (max-width: 400px){
  /* #tagline-container{
    height:40vh !important;
  } */
  #background-text{
    font-size: 10vw !important;
  }
}

